body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.search-bar-container {
  background-color: aliceblue;
  width: 500px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  box-shadow:
    6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  margin: 10px;
  transition: width 1.5s ease;
}

.search-input {
  margin: 10px 30px;
  padding: 10px 18px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 24px;
  transition: width 1s;
  transition-delay: 0.4s;
}

.search-img {
  position: absolute;
  left: 10px;
  width: 25px;
  cursor: pointer;
}

.mic-img {
  position: absolute;
  right: 10px;
  width: 30px;
}

.active.search-bar-container {
  width: 80px;
}

.active .search-input {
  width: 0;
}

.active .search-img {
  left: 50%;
  transform: translateX(-50%);
}

.active .mic-img {
  display: none;
}
